
@import url('https://fonts.googleapis.com/css2?family=Vampiro+One&display=swap');

body {
background-color: bisque;  
}
.background {
  background-color: bisque; 
  border-style: hidden;

}

h2 { margin-bottom: 0%;
    color: #ff6600;
text-align: center;
font-size: 50pt;
font-family: "Vampiro One";
font-weight: bold;}

a:link {margin-bottom: 0%;
  color: #ff6600;
text-align: center;
font-size: 30pt;
font-family: "Vampiro One";
font-weight: bold;
background-color:bisque;}

a:hover {margin-bottom: 0%;
  color: #ff8534;
text-align: center;
font-size: 30pt;
font-family: "Vampiro One";
font-weight: bold;
background-color:bisque;}

a:active {margin-bottom: 0%;
  color: #ff6600;
text-align: center;
font-size: 30pt;
font-family: "Vampiro One";
font-weight: bold;
background-color:bisque;}

p {font-size: 10pt;}

.fade-in {
    border-style: none !important;
    background-color: transparent;
    text-align: center;
    animation-name: FadeIn;
    animation-duration: 3s;
    transition-timing-function: linear;
  }
  
  @keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-moz-keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-o-keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-ms-keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }